<div class="container">
    <div class="d-flex justify-content-center">
        <div>
            <h1 class="mt-3">Kvitto</h1>
            <h4>Parkeringsplats:</h4>
            <span>Våning:{{ticket.floor}}</span>
            <span class="mx-5">Plats:{{ticket.parkingSpot}}</span>
            <h4>Registreringsnummer:</h4>
            <span>{{ticket.licensePlate}}</span>
            <h4>Datum:</h4>
            <span>{{ticket.todaysDate}}</span>
            <h4>Pris:</h4>
            <span>{{ticket.price}}kr</span>
            <h4>Parkeringstid:</h4>
            <span>Dagar:{{ticket.parkingDays}}</span>
            <span class="mx-5">Timmar:{{ticket.parkingHOurs}}</span>
            <h6>Tack för att du parkerar med Rymdgaraget!</h6>
        </div>
    </div>
</div>